body {
  font-family: "Rubik", sans-serif;
  color: #ffffff;
  background-color: #181818;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  font-style: normal;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

img {
  display: block;
  max-width: 100%;
}

address {
  font-style: normal;
}

.container {
  max-width: 549px;
  padding-left: 34px;
  padding-right: 26px;
  margin-left: auto;
  margin-right: auto;
}

/* ==========HEADER========== */

.header {
  padding-top: 29px;
  padding-bottom: 27px;
}

.header > .container {
  display: flex;
  align-items: center;
}

.header-logo-link {
  margin-right: 82px;
}

.header-logo-img {
}

.header-nav {
  display: none;
}

.header-list {
}
.header-item {
}

.header-item-link {
  color: #fff;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.013em;
}

.header-btn {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.47;
  letter-spacing: 0.012em;
  background-color: transparent;
  padding: 13px 46px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
}

.header-nav-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background-color: transparent;
  gap: 6px;
  padding: 0;
  margin-left: auto;
}

.header-span {
  background-color: #ffffff;
  height: 5px;
}

.top {
  width: 44px;
}

.middle {
  width: 33px;
}

.bottom {
  width: 19px;
}

/* ========================== */

/* ==========HERO========== */

.hero {
  padding-top: 67px;
  padding-bottom: 510px;
  background-image: url(../images/screens-m-min.png);
  background-repeat: no-repeat;
  background-position: bottom 0 center;
}

.container {
}

.main-title {
  text-align: center;
  font-size: 52px;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.004em;
  width: 294px;
  margin-bottom: 27px;
  margin-left: auto;
  margin-right: auto;
}

.hero-text {
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  width: 382px;
  margin-bottom: 67px;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.47;
  letter-spacing: 0.01em;
  padding: 20px 40px;
  background-color: #4452fe;
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 21px;
}

.hero-learn-btn {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.47;
  letter-spacing: 0.01em;
  background-color: transparent;
  padding: 20px 40px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ======================== */

/* ==========FEATURES========== */

.features {
  padding-top: 163px;
  padding-bottom: 219px;
}

.container {
}

.features-title {
  font-size: 52px;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.004em;
  text-align: center;
  margin-bottom: 27px;
}

.features-text {
  width: 411px;
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 28px;
}

.features-img {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 73px;
}

.features-list {
}

.features-item {
  width: 269px;
  margin-right: auto;
  margin-left: auto;
}

.features-item:not(:last-child) {
  margin-bottom: 72px;
}

.features-item-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.005em;
  margin-bottom: 20px;
}

.truth {
  width: 178px;
  padding-left: 13px;
}

.interface {
  width: 102px;
  padding-left: 12px;
}

.rules {
  padding-left: 10px;
}

.features-title-wrapper {
  display: flex;
  align-items: flex-start;
}

.features-icon-wrapper {
  padding-top: 7px;
}

.features-icon {
  fill: #02e4c0;
}

.features-item-text {
  width: 244px;
  padding-left: 10px;
}

/* ============================ */

/* ==========CONTENTS========== */

.contents {
  padding-top: 60px;
  padding-bottom: 151px;
}

.container {
}

.contents-title {
  font-size: 52px;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.004em;
  text-align: center;
  margin-bottom: 20px;
}

.contents-text {
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  width: 288px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 44px;
}

.contents-list {
}

.contents-item {
  background-color: #ffffff;
  padding-top: 50px;
  padding-bottom: 40px;
  padding-right: 37px;
  padding-left: 37px;
  border-radius: 10px;
  border: 1px solid #d3d3d3;
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
  width: 348px;
  margin-right: auto;
  margin-left: auto;
}

.contents-item:not(:last-child) {
  margin-bottom: 33px;
}

.contents-item-title {
  color: #000;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.005em;
  margin-bottom: 30px;
  width: 119px;
  margin-right: auto;
  margin-left: auto;
}

.contents-item-text {
  color: #5c5c5c;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.01em;
  margin-bottom: 67px;
}

.contents-text-bottom {
  margin-bottom: 40px;
}

.contents-item-btn {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.47;
  letter-spacing: 0.01em;
  background: #4452fe;
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 13px 46px;
  margin-bottom: 57px;
}

.btn-free {
  margin-bottom: 30px;
}

.contents-item-img {
}

/* ============================ */

/* ==========GALLERY========== */

.gallery {
  padding-top: 60px;
  padding-bottom: 151px;
}

.container {
}

.gallery-title {
  font-size: 52px;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.004em;
  margin-bottom: 20px;
  text-align: center;
}

.gallery-text {
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  width: 363px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 54px;
}

.gallery-list {
  margin-bottom: 44px;
}

.gallery-list-desktop {
  display: none;
}

.gallery-item {
  border-radius: 12px;
  /* background: lightgray 50%; */
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
}

.gallery-item:not(:last-child) {
  margin-bottom: 33px;
}

.camera {
  width: 329px;
}

.headset {
  width: 323px;
}

.type {
  width: 317px;
}

.laptop {
  width: 305px;
}

.gallery-item-img {
  margin-left: auto;
  margin-right: auto;
}

.gallery-btn {
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.47;
  letter-spacing: 0.01em;
  padding: 10px 40px;
  background-color: transparent;
  border: 1px solid #fff;
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* =========================== */

/* ==========PARTNERS========== */

.partners {
  padding-top: 60px;
  padding-bottom: 151px;
}

.container {
}

.partners-title {
  font-size: 52px;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.004em;
  text-align: center;
  margin-bottom: 20px;
}

.partners-text {
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  width: 329px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 65px;
}

.partners-list {
  width: 286px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}

.partners-item {
}

.partners-item-img {
}

.partners-btn {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.47;
  letter-spacing: 0.01;
  padding: 10px 40px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
}

/* ============================ */

/* ==========TESTIMONIALS========== */

.testimonials {
  padding-top: 60px;
  padding-bottom: 50px;
}

.container {
}

.testimonials-title {
  font-size: 52px;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.004em;
  margin-bottom: 60px;
  text-align: center;
}

.testimonials-list {
}

.testimonials-item {
  width: 352px;
  padding: 40px;
  border-radius: 10px;
  border: 1px solid #565656;
  margin-right: auto;
  margin-left: auto;
}

.testimonials-item:not(:last-child) {
  margin-bottom: 23px;
}

.testimonials-item-img-wrapper {
  margin-bottom: 30px;
  display: flex;
  gap: 23px;
  align-items: center;
}

.testimonials-item-text-wrapper {
}

.testimonials-img {
}

.testimonials-item-name-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.01em;
}

.testimonials-item-name-text-desktop {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.01em;
  display: none;
}

.testimonials-item-prof-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.006em;
}

.testimonials-item-text {
  width: 244px;
  line-height: 1.5;
  letter-spacing: 0.01em;
}

.testimonials-item-text-desktop {
  display: none;
}

/* ================================ */

/* ==========OPENTYPE========== */

.opentype {
  padding-top: 101px;
  padding-bottom: 101px;
}

.container {
}

.opentype-content-wrapper {
  padding-top: 104px;
  background-color: #1e1e1e;
}

.opentype-title-wrapper {
  margin-bottom: 104px;
}

.opentype-title {
  text-align: center;
  font-size: 52px;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.004em;
  width: 341px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 37px;
}

.opentype-btn {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.47;
  letter-spacing: 0.01em;
  padding: 20px 67px;
  background-color: #4452fe;
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.opentype-img {
}

/* ============================ */

/* ==========FOOTER========== */

.footer {
  padding-top: 107px;
  padding-bottom: 107px;
}

.footer > .container {
  padding-left: 115px;
}

.footer-chapter {
  margin-bottom: 75px;
}

.footer-chapter-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.005em;
  margin-bottom: 40px;
}

.footer-chapter-list {
}

.footer-chapter-item {
}

.footer-chapter-item:not(:last-child) {
  margin-bottom: 19px;
}

.footer-chapter-item-link {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.01em;
}

.footer-address {
  margin-bottom: 35px;
}

.footer-address-list {
}

.footer-address-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer-address-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer-address-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-address-item-link {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.01em;
}

.footer-address-icon {
  fill: #ffffff;
}

.footer-soc-list {
  display: flex;
  gap: 24px;
}

.footer-soc-item {
}

.footer-soc-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-soc-icon {
  fill: #ffffff;
}

/* ========================== */

/* ==========DESKTOP========== */

@media screen and (min-width: 1249px) {
  .container {
    max-width: 1249px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .header {
    padding-top: 30px;
    padding-bottom: 31px;
  }

  .header > .container {
    padding-left: 116px;
    padding-right: 115px;
  }

  .header-logo-link {
    margin-right: 127px;
  }

  .header-nav {
    display: block;
  }

  .header-list {
    display: flex;
    align-items: center;
    gap: 51px;
  }

  .header-nav-btn {
    display: none;
  }

  .header-btn {
    margin-left: auto;
  }

  .hero {
    padding-top: 95px;
    padding-bottom: 1028px;
    background-image: url(../images/screens-min.png);
    background-repeat: no-repeat;
    background-position: bottom 0 center;
  }

  .main-title {
    text-align: center;
    font-size: 80px;
    font-weight: 500;
    line-height: 1.11;
    letter-spacing: 0.003em;
    width: 709px;
    margin-bottom: 37px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero-text {
    width: 582px;
    margin-bottom: 95px;
  }

  .hero-btn-wrapper {
    display: flex;
    gap: 35px;
    justify-content: center;
  }

  .hero-btn {
    margin-left: 0;
    margin-right: 0;
  }

  .hero-learn-btn {
    margin-left: 0;
    margin-right: 0;
    height: 65px;
  }

  .features {
    padding-bottom: 162px;
  }

  .features-text {
    width: 582px;
    margin-bottom: 80px;
  }

  .features-img-wrapper {
    display: flex;
    justify-content: center;
    gap: 27px;
  }

  .features-img {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
  }

  .features-list {
    padding-top: 84px;
  }

  .features-item {
    width: 476px;
    margin-right: auto;
    margin-left: auto;
  }

  .contents-text {
    width: 571px;
    margin-bottom: 54px;
  }

  .contents-list {
    display: flex;
    justify-content: center;
    gap: 33px;
  }

  .contents-item {
    padding-top: 50px;
    padding-bottom: 40px;
    padding-right: 35px;
    padding-left: 35px;
    width: 476px;
    margin-right: 0;
    margin-left: 0;
  }

  .contents-item:not(:last-child) {
    margin-bottom: 0;
  }

  .contents-item-title {
    width: 212px;
  }

  .contents-item-text {
    width: 269px;
    margin-right: auto;
    margin-left: auto;
  }

  .contents-item-picture {
    text-align: center;
  }

  .contents-item-img {
    margin-right: auto;
    margin-left: auto;
  }

  .gallery-text {
    width: 571px;
  }

  .gallery-list {
    display: none;
  }

  .gallery-list-desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 44px 33px;
    margin-bottom: 44px;
  }

  .gallery-item-desktop {
    border-radius: 12px;
    box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    justify-content: center;
  }

  .partners-text {
    width: 571px;
    margin-bottom: 60px;
  }

  .partners-list {
    width: 832px;
    justify-content: center;
    gap: 74px;
    align-items: center;
  }

  .testimonials-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 23px;
    width: 883px;
    margin-right: auto;
    margin-left: auto;
  }

  .testimonials-item {
    width: 430px;
    height: 304px;
    margin-right: 0;
    margin-left: 0;
  }

  .testimonials-top-item {
    height: 328px;
  }

  .testimonials-bottom-right-item {
    transform: translateY(-24px);
  }

  .testimonials-item:not(:last-child) {
    margin-bottom: 0;
  }

  .testimonials-item-name-text {
    display: none;
  }

  .testimonials-item-name-text-desktop {
    display: block;
  }

  .testimonials-item-text {
    width: 320px;
  }

  .testimonials-item-text-desktop {
    width: 320px;
    display: block;
    line-height: 1.5;
    letter-spacing: 0.01em;
  }

  .text-mobile {
    display: none;
  }

  .opentype {
    padding-top: 180px;
    padding-bottom: 180px;
  }

  .opentype-content-wrapper {
    padding-top: 0;
    padding-left: 94px;
    display: flex;
    justify-content: space-between;
    border-radius: 33px;
    background: #343434;
    box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
    overflow: hidden;
  }

  .opentype-title-wrapper {
    padding-top: 78px;
    padding-bottom: 78px;
    margin-bottom: 0;
  }

  .opentype-title {
    width: 470px;
    text-align-last: left;
    margin-right: 0;
    margin-left: 0;
    padding-left: 10px;
  }

  .opentype-btn {
    margin-right: 0;
    margin-left: 0;
  }

  .opentype-pic {
    align-self: flex-end;
  }

  .footer > .container {
    padding-left: 109px;
    padding-right: 109px;
    display: flex;
  }

  .footer-chapter:nth-child(-n + 2) {
    margin-right: 75px;
  }

  .footer-contacts {
    margin-left: auto;
  }
}
